<div class="analog__container">
  <div class="analog__clock">
    <div class="analog__clock__numbers">
      <p>12</p>
      <p>3</p>
      <p>6</p>
      <p>9</p>
    </div>
    <div class="analog__clock__lines">
      <div class="clock__line"></div>
      <div class="clock__line"></div>
      <div class="clock__line"></div>
      <div class="clock__line"></div>
    </div>
    <div class="analog__center"></div>
    <div class="analog__clock__time">
      <div
        class="analog__clock__time--hour"
        [style.transform]="'rotate(' + rotateHour + 'deg)'"
      ></div>
      <div
        class="analog__clock__time--minute"
        [style.transform]="'rotate(' + rotateMinute + 'deg)'"
      ></div>
      <div
        class="analog__clock__time--second"
        [style.transform]="'rotate(' + rotateSecond + 'deg)'"
      ></div>
    </div>
    <div class="analog__clock__date">
      <p>
        {{ time.getFullYear() }} / {{ time.getMonth() + 1 }} /
        {{ time.getDate() }}
      </p>
    </div>
  </div>
</div>
